@model SIFCA.Models.FormulaViewModel

<tr class="gradeA">
    <td>
        @Html.HiddenFor(model => model.Nombre)
        @Html.DisplayFor(model => model.Nombre)
    </td>
    <td>
        @Html.HiddenFor(model => model.codFormula)
        @Html.CheckBoxFor(model => model.Seleccionar)
    </td>
</tr>
