@{
    ViewBag.Title = "Un error a ocurrido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <strong class="text-danger">Pagina no encontrada - ERROR 404.</strong>
    </div>
</div>

